.messageBox {
    background: none;
    border-radius: 20px;
    padding: 0px 5px;
    color: white;
    display: inline-block;
    max-width: 80%;
  }
  
  .messageText {
    width: 100%;
    letter-spacing: 0;
    float: left;
    font-size: 0.6em;
    word-wrap: break-word;
  }
  
  .messageText img {
    vertical-align: middle;
  }
  .Admin{
    opacity: 0.5;
    font-size: 0.5rem;
  }
  .messageContainer {
    display: flex;
    justify-content: flex-end;
    padding: 0 5%;
    margin-top: 3px;
  }
  
  .sentText {
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    font-family: Helvetica;
    color: rgb(68, 248, 83);
    letter-spacing: 0.3px;
  }
  
  .pl-10 {
    padding-left: 10px;
  } 
  
  .pr-10 {
    padding-right: 10px;
  }
  
  .justifyStart {
    justify-content: flex-start;
  }
  
  .justifyEnd {
    justify-content: flex-end;
  }
  
  .colorWhite {
    color: white;
  }
  
  .colorDark {
    color: white;
  }
  
  .backgroundDark {
    background: #383838;
  }
  
  .backgroundLight {
    background: #F3F3F3;
  }