
@import url(https://fonts.googleapis.com/css?family=Roboto:300);


#ok-btn {
  padding: 10px 85px;
}

.form-container {
  background-color: white;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2),
    0 5px 5px 0 rgba(255, 124, 2, 0.733);
  padding: 10px;
  border-radius: 10px;
  font-weight: 100px;
  border-color: #ffa4a4;
  display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    text-align: center;
    background-color: white;
    z-index: 100000;
}

.player-info-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.success-message {
  font-family: "Roboto", sans-serif;
  background-color: rgba(88, 73, 58, 0.397);
  border-radius: 10px;
  padding: 15px;
  color: white;
}

.form-field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 14px;
  border: 0;
  font-family: "Roboto", sans-serif;
  display: block;
  align-content: center;
}

span {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: red;
  margin-bottom: 15px;
}

input {
  background: #f2f2f2;
  border-radius: 10px;
}

.error {
  border-style: solid;
  border: 2px solid #ffa4a4;
}

.form-container .player-info-form .btn-group .btn-submit,

.form-container  .success-message .btn-out
 {
  background: #4caf50;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  font-size: 10px;
  display: inline-block;
}
.form-container .player-info-form .btn-group .btn-exit{
  color: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  font-size: 10px;
  display: inline-block;
  background: gray
}
button:disabled {
  cursor: default;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;

  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
    z-index: 100000;
  display: block;
}

.display-none {
  display: none;
}
